version: "3.8"
services:
  registry:
    image: registry:2
    container_name: registry
    volumes:
      - /home/registry/registry:/var/lib/registry
      - /home/registry/reg_certs:/certs
      - /home/registry/config.yml:/etc/docker/registry/config.yml
    environment:
      REGISTRY_STORAGE_DELETE_ENABLED: true
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/registry.crt
      REGISTRY_HTTP_TLS_KEY: /certs/registry.key
      # Handled via registry config.yml:
      # REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin: '[http://fir.love.io:3006]'
      # REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods: '[HEAD,GET,OPTIONS,DELETE]'
      # REGISTRY_HTTP_HEADERS_Access-Control-Allow-Credentials: '[true]'
      # REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers: '[Authorization,Accept,Cache-Control]'
      # REGISTRY_HTTP_HEADERS_Access-Control-Expose-Headers: '[Docker-Content-Digest]'

    ports:
      - "3005:5000"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true

  registry-ui:
    image: joxit/docker-registry-ui:2.5.7
    restart: always
    ports:
      - 3006:80
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE=Docker Registry UI
      - DELETE_IMAGES=true
      - SHOW_CONTENT_DIGEST=true
      - REGISTRY_URL=https://fir.love.io:3005
      - SHOW_CATALOG_NB_TAGS=true
      - CATALOG_MIN_BRANCHES=1
      - CATALOG_MAX_BRANCHES=1
      - TAGLIST_PAGE_SIZE=100
      - REGISTRY_SECURED=false
      - CATALOG_ELEMENTS_LIMIT=1000
    container_name: docker-registry-ui
    volumes:
      - /home/registry/default.conf:/etc/nginx/conf.d/default.conf
      - /home/registry/reg_certs/ca.crt:/etc/ssl/certs/ca-certificates.crt
      - /home/registry/reg_certs/ca.crt:/etc/ssl/certs/ca.crt
    depends_on:
      - registry
    dns:
      - 192.168.1.129

